@import "../node_modules/bulma/bulma.sass";

html {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.section {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.body-box {
  margin: 1rem;
  max-width: 1000px;
}

.heading {
  background-color: rgb(22, 118, 188);
  display: flex;
}

.heading-logo {
  margin-top: 1rem;
  margin-left: 1rem;
}

.heading-text {
  margin-left: 2rem;
  margin-top: 5rem;
}

.title {
  color: #fff !important;
}

.figures {
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}
