{% extends "base.html" %} {% block content %}
<div class="heading">
  <div class="heading-logo">
    <img
      id="heading-logo"
      src="/EAA-Chapter-1674-Logo.png"
      alt="EAA Chapter 1674 Logo"
      width="300"
      height="289"
    />
  </div>
  <div class="heading-text">
    <h1 class="title">EAA Chapter 1674</h1>
    <a
      class="button is-link"
      href="https://docs.google.com/forms/d/e/1FAIpQLSc1SligUHLudh_Ca8Ou2EWo-nT2NsmsHoSSQrI1_3uXqoaQbA/viewform"
      target="_blank"
      >I'm Interested!</a
    >
  </div>
</div>
<div class="body">
  <div class="body-box">
    <a
      class="button is-link"
      href="https://docs.google.com/forms/d/e/1FAIpQLSc1SligUHLudh_Ca8Ou2EWo-nT2NsmsHoSSQrI1_3uXqoaQbA/viewform"
      target="_blank"
      >Join Now!</a
    >
    <br />
    <br />
    <div class="amazon-smile-button">
      <a
        class="button is-link"
        href="https://www.paypal.com/donate/?hosted_button_id=SDX3KFDT5XE9Y"
        target="_blank"
        >Donate</a
      >
      <img
        class="donate-qr"
        src="/paypal-donate-qr-code.png"
        alt="Donate to EAA Chapter 1674 Inc"
        height="128"
        width="128"
      />
    </div>
    <div>
      <div class="fundraiser">
        <a href="/2023-06-24-fundraiser.pdf" target="_blank"
          >June 24, 2023 Drive-in / Fly-in / Cookout Fundraiser</a
        >
      </div>
      <p>
        See the
        <a href="/2023-06-24-fundraiser.pdf" target="_blank">flyer</a> for
        details.
      </p>
    </div>
    <br />
    <div class="amazon-smile-button">
      <a class="button is-link" href="/dues">Pay Dues</a>
    </div>
    <h2>Mission</h2>
    <p>
      EAA Chapter 1674 Inc is organized exclusively for charitable, educational
      and scientific purposes. Our mission is to promote and encourage education
      of the general public about recreational, the design and construction of
      amateur-built aircraft, and the restoration of aircraft. In addition, we
      also promote and encourage education of the general public about aviation
      safety in the design, construction, and operation of all types of
      aircraft.
    </p>
    <h2>
      Meetings are held at the Inverness Aiport FBO every third Saturday from
      9:00 am to 11:00 am located at the South end of the airport in the blue
      building.
    </h2>
    <h3>
      Next meeting will be held on June 17, 2023 from 9:00 am to 11:00 am.
    </h3>
    <h2>Our Address</h2>
    <address>
      EAA Chapter 1674 Inc<br />
      4250 S Airport RD<br />
      Inverness, FL 34450-3318<br />
      info@eaa1674.org<br />
      (352) 587-0182 (call or text)
    </address>
    <br />
    <p>
      You can also find us on
      <a
        href="https://www.facebook.com/people/EAA-Chapter-1674/100087731044512/"
        >Facebook</a
      >
    </p>
    <h4>
      Please watch the webinar
      <a
        href="https://www.eaa.org/Videos/Webinars/EAA-Programs/6303923122001"
        target="_blank"
        >Welcome to EAA – Getting the Most Out of Your Membership 2022</a
      >
      once you are an active member.
    </h4>
    <h3>
      Complete the
      <a
        class="is-link"
        href="https://docs.google.com/forms/d/e/1FAIpQLSc1SligUHLudh_Ca8Ou2EWo-nT2NsmsHoSSQrI1_3uXqoaQbA/viewform"
        target="_blank"
        >form</a
      >
      if you are interested in joining.
    </h3>
    <div class="faq">
      <ul>
        <li>
          <strong>What is EAA?</strong>
          <ul>
            <li>
              <a href="https://www.eaa.org" target="_blank">EAA</a> is the
              Experimental Aircraft Association and is a community built around
              aviation. We are also the Everyone's Aviation Association.
            </li>
          </ul>
        </li>
        <li>
          <strong>Do I need a pilot license?</strong>
          <ul>
            <li>No, all people interested in aviation are welcome.</li>
          </ul>
        </li>
        <li>
          <strong>Why should I join?</strong>
          <ul>
            <li>
              EAA offers a substantial amount of avaition content and the local
              chapter is a great way to network with other people interested in
              aviation.
            </li>
          </ul>
        </li>
        <li>
          <strong>What types of activites are available?</strong>
          <ul>
            <li>
              EAA Chapter 1674 has monthly meetings with avaition
              presenentations and opportunites to socialize with other members.
            </li>
            <li>
              Young Eagles - Focused on ages 8-17 to experience avaition through
              work shops and local flights.
            </li>
            <li>
              VMC Club - Discussions around visual meteorological conditions
              flying.
            </li>
            <li>
              IMC Club - Discussions around instrument meteorological conditions
              flying.
            </li>
          </ul>
        </li>
        <li>
          <strong>How much does it cost?</strong>
          <ul>
            <li>
              All members must have an active
              <a
                href="https://www.eaa.org/shop/Membership/Join.aspx"
                target="_blank"
                >National EAA Membership</a
              >
              that is the same type for the local chapter.
            </li>
            <li>
              The Inverness chapter is $20 per year for individual membership,
              $25 for family, and free for students 18 and under.
            </li>
          </ul>
        </li>
      </ul>
      <h2>Other information about the Inverness Florida Airport (KINF)</h2>
      <ul>
        <li><a href="/Airport-Findings-KINF.pdf">Airport Findings</a></li>
        <li>
          <a
            href="/Florida-Aviation-Economic-Impact-Study-Inverness-Airport-KINF.pdf"
            >Florida Aviation Economic Impact Study Inverness-Airport</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
