{% extends "base.html" %} {% block content %}
<div class="heading">
  <div class="heading-logo">
    <a href="/">
      <img
        id="heading-logo"
        src="/EAA-Chapter-1674-Logo.png"
        alt="EAA Chapter 1674 Logo"
        width="300"
        height="289"
      />
    </a>
  </div>
  <div class="heading-text">
    <h1 class="title">Young Eagles</h1>
    <h2 class="title">Free flights for youths age 8 - 17</h2>
  </div>
</div>
<div class="body">
  <div class="body-box">
    <p>
      Launched in 1992, the Young Eagles program has dedicated 30 years to
      giving youth ages 8–17 their first free ride in an airplane.
    </p>

    <p>
      It’s the only program of its kind, with the sole mission to introduce and
      inspire kids in the world of aviation.
    </p>

    <p>
      Today, over 2.3 million young people have enjoyed a free introductory
      flight through the Young Eagles program. These flights are made possible
      through the generosity of EAA member volunteers.
    </p>
    <p>
      Please see
      <a
        href="https://www.eaa.org/eaa/youth/free-ye-flights/eaa-young-eagles-information-for-parents"
        target="_blank"
        >eaa.org</a
      >
      for more information
    </p>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSfiof7bK6ftT6BbK9VKAHGwtRCX5BgOqlZpXH3p6PYhiRG9uA/viewform?embedded=true"
      width="640"
      height="766"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>
  {% endblock content %}
</div>
